<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Xciting eVentz</title>
</head>
<body>
  <h1>Xciting eVentz</h1>
    <h2>Are you ready to get XCITED?</h2>
      <h2>See below for our list of Xciting eVentz!</h2>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/orders">Orders</a>
        </li>
        <li>
          <a href="/orders/new">New Order</a>
        </li>
      </ul>
    </nav>
</body>
</html>