body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-weight: normal;
  margin-left: 30px;
  background-color: burlywood;
}

h1, h2 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h2 {
  text-decoration: underline;
  padding-top: 20px;
}

label {
  font-weight: normal;
}
