@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

body {
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', sans-serif;
}

input {
  display: flex;
}

div.post-comment {
  display: flex;
  width: 100px;
  padding: 10px;
  backface-visibility: hidden;
}
